@charset "UTF-8";

/* 
@font-face {
    font-family: "HanaMinA";
    src: url(/webfonts/花園明朝HanaMinA.ttf);
} */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* eric/css/reset/end */


/* 變數區:自己先定義一些顏色 */
:root {
    /* 著色系 */
    --main-blue: rgb(32, 52, 72);
    --main-white: #EDEBE4;
    --main-yellow: #FFCC70;
    /* 變數區:主色調 */

}


/* 共用區 */

* {
    box-sizing: border-box;
    /* 不累加邊框與內距的寬度 */
}

.noto-serif-tc-regular {
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    font-style: normal;
}



body {
    /* 有空格or中文就需要引號，英文要在中文前面，因為英文沒有中文字就會跳過 */
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "Noto Serif TC", "HanaMinA", "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    color: var(--deep-blue);
    background-color: var(--main-white);
    /* 整個網站的預設字色 */
}


html,
body {
    /* 捲動效果:預設時間速度無法改，要改用js */
    scroll-behavior: smooth;
}

img {
    width: 100%;
    /* SVG本來就是100% 這裡是預設其他圖檔 */
}

a {
    display: block;
    text-decoration: none;
    /* 取消預設的底線裝飾 */
}

.list-box {
    width: 80%;
    max-width: 1200px;
    display: flex;
}

.item {
    margin: 15px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgb(111, 17, 17, .8);
    display: flex;
}

.item h1 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.content {
    padding: 15px 20px 20px;
}


/* 頁首區 */
.topbar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--main-blue);
    z-index: 999;
    /* 確保他在最上面*/
    align-items: center;
}

.topbar .logo {
    width: 35px;
    /* 通常都是用寬度設定，上方有設定100%才不會溢出 */
}

.topbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu a {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    border-bottom: solid 2px transparent;
    /* .menu a:hover 2px造成滑鼠滑上去會動一下 所以這裡先給 */
    transition: 1s;
    color: var(--main-white);
}

.menu a:hover {
    border-bottom: solid 2px #555;
    /* 2px造成滑鼠滑上去會動一下 */
    /* 有樣式、顏色、粗細 樣式一定要寫 */
}

section {
    display: flex;
    flex-direction: column;
    /* 主軸：垂直*/
    justify-content: center;
    /* 主軸(垂直)置中*/
    align-items: center;
    /* 副軸(水平)置中*/
    height: 100vh;
}

.title {
    border-bottom: 5px solid var(--main-blue);
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    /*框跟內容之間的距離*/
}

.title h2 {
    font-size: 2rem;
    font-weight: 900;
}

.title h3 {
    font-size: 1.5rem;
    /* font-weight: 400; */
    font-style: normal;
    padding-top: 1px;
}

#banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-color: var(--main-white);
    position: relative;
    color: var(--main-blue);
}

#banner a {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    border-bottom: solid 2px transparent;
    /* .menu a:hover 2px造成滑鼠滑上去會動一下 所以這裡先給 */
    transition: 1s;
    color: var(--main-blue);
}

#banner a:hover {
    border-bottom: solid 2px #555;
    /* 2px造成滑鼠滑上去會動一下 */
    /* 有樣式、顏色、粗細 樣式一定要寫 */
}


.bn-right {
    display: flex;
    flex-direction: column;
    /* border: #023465 solid 1px; */
    color: var(--main-blue);
    margin-left: 20px;
    width: 100%;
    height: 80vh;
    /* 设置容器高度 */
    overflow: hidden;
    /* 隐藏溢出部分 */
}

.bn-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 图片填充方式，保持比例并填充容器 */
}

.bn-left {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-items: center;
    margin: 50px;
    /* border: #023465 solid 1px; */
}

#banner h1 {
    font-family: "osaka-re";
    font-size: 10rem;
    text-align: center;
    line-height: 1.5;
    font-weight: bold;
    color: #f5d2d2;

}

/* 資訊區 */
#category {
    display: flex;
    flex-direction: column;
    flex:1;
    padding: 20px;
}

.textmenu {
    display: flex;

}

.texture {
    display: flex;
}

.info {
    display: flex;
   
}


/* 最新消息區 */
#news .title{
    display: flex;
}

.content-2{
    display: flex;
    padding: 20px;
}