@import "varible";
@import "function";


/* 頁首區 */
.topbar {
  position: fixed;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 120px;
  background-color: $main-white;
  color: $main-blue;
  z-index: 999;
  text-align: center;
  /* 確保他在最上面*/

  .topbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    margin-bottom: 0;
  }


}

/* Banner區 */

#banner {
  // height: 100vh;
  justify-content: space-around;
  // 輪播圖片

  .carousel {
    overflow: hidden;
    flex-wrap: nowrap;
    /* 不換行 */
    width: 100%;

    .carousel-inner {
      display: flex;
      flex-wrap: nowrap;

      /* 不換行 */
      // overflow-x: hidden;
      .carousel-item {
        display: flex;
        margin-top: 80px;
        flex-wrap: nowrap;
        /* 不換行 */
        // flex: 0 0 calc(100% / 4 - 5px);
        //每张图片占据四分之一的宽度，并减去间距
        margin-right: 5px; // 图片之间的间距

        img {
          width: 320px;
          height: 480px;
          object-fit: cover;
          margin: 20px 10px;
          border-radius: 20px;
        }
      }
    }
  }


  .carousel-control-prev,
  .carousel-control-next,
  .carousel-item.active {
    display: flex;
    width: auto;
    padding: 0;
  }

  .carousel-indicators {
    display: none; // 隐藏指示器
  }


  .bn-cta {
    width: 100vw;
    padding-top: 80px;
    display: flex;
    justify-content: space-around;

    img {
      width: 150px;
      margin: 0 30px;
      height: fit-content;
    }

    h4 {
      position: relative;
      font-size: map-get($font-size, title-m);
      color: white;
    }

    h4::after {
      content: "";
      position: absolute;
      top: -13px;
      left: -20px;
      width: 120%;
      height: 100%;
      z-index: -1;
      background-image: url(/images/slogan-bg.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }

    .border-b {
      display: flex;
      align-items: center;
      padding-left: 50px;
      padding: 5px;
    }

    button {
      width: 12%;
      height: 50px;
      border-radius: 30px;
      background-color: $main-lightblue;
      margin: 0;
      font-size: map-get($font-size, l);
    }
  }

  // #banner {
  //   position: relative;
  //   height: 100vh;

  //   .bn-cta {
  //     position: absolute;
  //     top: 65%;
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //     // position: absolute;
  //     // top: 75%;
  //     // left: 12%;
  //     // transform: translate(-50%, -50%);
  //     // color: $main-blue;
  //     z-index: 1;
  //     // /* 确保 .cta-box 在 img 上面 */
  //     // height: 300px;
  //     // background-color: $main-yellow;
  //     // border-radius: 60% 90% 70% 80% / 80% 90% 60% 80%;
  //     // width: 22%;
  //     // height: 28%;
  //     // text-align: center;
  //     // align-content: center;
  //     // animation: fadeInFromButtom 2s ease forwards;

  //     h4 {
  //       background-image: url(/images/solgan.svg);
  //       background-size: cover;
  //       background-repeat: no-repeat;
  //       color: $main-white;
  //       text-align: center;
  //       font-family: "Gen Jyuu Gothic";
  //       font-size: 48px;
  //       font-style: normal;
  //       font-weight: 700;
  //       line-height: 120%;
  //       /* 57.6px */
  //       letter-spacing: 12px;
  //       margin-bottom: 20px;
  //     }

  //     i {
  //       display: block;
  //     }

  //   }

  //   img {
  //     width: 90vw;
  //     height: 80vh;
  //     object-fit: cover;
  //     border-radius: 30px;
  //     margin-top: 120px;
  //     animation: fadeIn 2s ease forwards;
  //   }
  // }

}

#category {

  .textMenu {
    padding: 0px 180px;
    text-align: center;
    display: flex;
    width: 100%;
    // height: 20vh;
    justify-content: center;

    .texture {
      display: flex;
      // padding: 15px;
      margin: 0 10px;
      height: 100%;
      justify-content: center;
      /* 元素均匀分布 */
      align-items: center;
      flex: 1;

      li {
        margin: 10px;
      }

      .texture-button {
        display: flex;
        color: $main-white;
        background-color: $main-lightblue;
        border-radius: 30px;
        // margin: 20px;
        margin-bottom: 15px;
        padding: 5px 20px;
        position: relative;

        i::before {
          display: none;
          position: absolute;
          left: 70%;
          top: 50%;
          transform: translateY(-50%);
        }

        li:hover {
          background-color: rgb(34, 102, 141, .2);
          border-radius: $radius-s;
        }
      }

      .active {
        color: $main-white;
        background-color: $main-blue;
        padding: 5px 45px 5px 20px;

        i::before {
          display: inline;
        }
      }
    }
  }
}


.textureList {
  width: 85%;
  // height: 40vw;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: $main-yellow;
  border-radius: 30px;
  margin: 20px;

  // background-image: url(/images/bg2.svg);
  // background-size: contain;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
  // background-color: rgb(34, 102, 141,.2);

  .texture-content {
    display: none;
  }

  .active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .texture-info {
    margin-top: 30px;
    // margin-bottom: 10px;
    border-radius: 20px;
    // width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    // background-color: $main-yellow;
    // border-radius: 10px / 5px;
    flex: 3;
    font-size: map-get($font-size, m);

    a {
      background-color: $main-blue;
      border-radius: 99px;
      display: block;
      margin: 5px;
      color: $main-white;
      width: 8rem;
      height: 2rem;
      line-height: 2rem;
    }
  }
}


.product-list {
  flex: 7;
  width: 80vw;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .product {
    padding: 15px ;
    margin: 15px;
    background-color: white;
    box-shadow: 4px 4px 0px 0px #405983;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:nth-child(3) {
      @media($breakpoint-md) {
        display: none;
      }
    }

    &:nth-child(2) {
      @media($breakpoint-sm) {
        display: none;
      }
    }

    .productImg {
      height: 160px;
      width: 160px;
      border-radius: 20px;
    }

    .productInfo {
      width: 180px;
      text-align: justify;
      margin: 5px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      @include line-save(2);
      font-size: map-get($font-size, xs);
    }

    .add-cart {
      display: flex;
      background-color: $main-blue;
      width: 150px;
      padding: 8px;
      border-radius: 20px;
      color: white;
      justify-content: center;
      align-items: center;
      margin: 10px;
    }
  }

}


@media(max-width:820px) {
  .product-rwd {
    display: none;
  }
}

// .mask {
//   position: relative;
//   -webkit-mask-repeat: no-repeat;
//   mask-repeat: no-repeat;
//   -webkit-mask-size: 100% 100%;
//   mask-size: 100% 100%;
// }

// .mask-1 {
//   mask-image: url(/images/mask.svg);
// }

.duct-dec {
  display: flex;
  flex-direction: column;

  img {
    width: 80px;
  }

  :first-child {
    margin-right: 40px;
  }

  :nth-child(2) {
    margin-left: 40px;
  }

  :nth-child(3) {
    margin-right: 40px;
  }


}

#service {
  justify-content: flex-end;



  .surprise {
    display: flex;
    background-image: url(/images/bg3.svg);
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
    align-items: center;

    .picker {
      margin: 20px auto;
      width: calc(50% - 120px);
      display: flex;
      padding: 30px;
      flex-direction: column;
      align-items: center;

      .filters {
        display: flex;
        // flex-direction: column;
        justify-content: center;

        select {
          // line-height: 30px;
          // justify-content: center;
          // align-items: center;
          // text-align: center;
          background: $main-lightblue;
          color: $main-white;
          font-size: map-get($font-size, m);
          margin: 15px;
          height: 3em;
          width: 150px;
          padding: 8px;
          position: relative;
          border-radius: 5px;
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          background-image: url(/images/arrow.svg);
          background-position: right .5em top 50%, 0 0;
          background-size: 1rem;
          background-repeat: no-repeat, repeat;
        }

        option {
          display: flex;
          justify-content: center;
          text-align: center;
        }
      }
    }

    .product-w {
      width: calc(50% - 120px);
      margin: 60px;
      padding: 30px;
      background-color: $main-white;
      background-color: $main-blue 5px soild;
      box-shadow: 4px 4px 0px 0px #405983;
      border-radius: $radius-s;

      .image {
        img {
          height: 180px;
          width: 180px;
        }

        object-fit: cover;
      }

      .name-price {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;

        h4 {
          margin: 0;
        }
      }

      .icon {
        display: flex;
        justify-content: end;
      }

      .fa-solid {
        display: none;
      }

      .product {
        display: flex;

        .product-text {
          margin: 10px;
          width: fit-content;

          >* {
            margin: 10px;
            line-height: 150%;
          }
        }
      }
    }
  }
}

/* 資訊區 */
#news-campaign {
  display: flex;
  flex-direction: row;

  #news {
    width: 50%;
    height: 100vh;
    background-color: $main-blue;
    color: $main-blue;

    .news-box {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      height: calc(100vh - 300px);
    }

    .news-content {
      width: 70%;
      height: 480px;
      margin: 20px;
      border-radius: $radius-xs ;
      border-top: 40px solid $main-lightblue ;
      background-color: $main-white;
      color: $main-blue;
      padding: 63px 27px 25px 27px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 14px;

    }

    .next-button {
      display: flex;
      margin: 20px;

      p {
        margin: 20px;
      }
    }

  }

  #campaign {
    width: 50%;
    height: 100vh;
    background-color: $main-lightblue;
    color: $main-blue;

    .text {
      gap: 10px;
    }

    .articleList {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      height: calc(100vh - 300px);
    }

    .sale {
      width: 70%;
      height: 100px;
      border-radius: $radius-xs ;
      border-left: 40px solid $main-yellow ;
      background-color: $main-white;
      color: $main-blue;
      padding: 10px 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 14px;
      margin: 20px 20px 0;

    }
  }


}

/* 關於我們專區 */

#about {
  height: 80vh;

  .about-us {
    display: flex;
    margin: 50px;

    .about-info {
      margin: 20px;
      text-align: center;
      align-items: center;
      width: 55vw;
      display: flex;

      h4 {
        margin-bottom: 30px;
      }

      img {
        width: 80%;
        height: 180px;
        object-fit: cover;
      }

      p {
        margin: 30px;
      }
    }

  }
}

.subMenu {
  border-left: solid $main-blue 5px;
  padding: 0px 20px;
  height: fit-content;
  margin: 20px;

  li {
    padding: 5px;

    ul{
      padding-left: 20px;
      list-style:square;
      margin: 5px;
    }
  }
}


