.newsContent {
  @include center-c-jc;
  padding-left: 50px;
  padding-right: 50px;
  // max-width: 1360px;

  @media($breakpoint-sm) {
    padding: $interval-x-l;
  }

  .newsTab {
    @include center-r-jc;

    .news-button {
      // background-color: $main-white;
      color: $main-blue;
      background-color: $main-lightblue;
      // border: 3px $main-blue solid;
      border-radius: $radius-xs;
      margin: 20px;
      margin-bottom: 15px;
      padding: 5px 20px;

      i {
        margin-left: 10px;
      }
    }

    .active {
      background-color: $main-blue;
      color: $main-white;
    }
  }

  .post-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    row-gap: 40px;
    // justify-content: center;

    @media($breakpoint-sm) {
      justify-content: center;
    }

    .post {
      width: 33.333%;
      padding: 0 20px;
      // margin: 30px;
      min-width: 350px;
      justify-content: center;

      @media($breakpoint-sm) {
        width: 200px;
      }

      .postImg {
        height: 250px;
        width: 460px;
        object-fit: cover;
        border-radius: $radius-s;
        transform: scale(1);
        transition: all 0.3s linear;

        &:hover {
          transform: scale(1.15);
          background-image: rgba(0, 0, 0, 0.5);
        }
      }

      .labelImg {
        position: relative;
        justify-content: center;
        display: flex;
        overflow: hidden;
        border-radius: $radius-s;
      }

      .postType {
        background-color: $main-yellow;
        border: 3px $main-yellow solid;
        border-radius: $radius-xs;
        color: $main-blue;
        margin: 10px;
        padding: 5px 10px;
        width: 90px;
        position: absolute;
        left: 65%;
        top: 5%;

        // transform: translateY(-50%);
        // z-index: 2;
      }

      .titleTime {
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 10px;
      }

      .postInfo {
        @include line-save(2);
        padding: 0 20px;
      }
    }
  }
}

.post-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 50px;
  border-bottom: 5px solid $main-blue;

  div {
    font-size: map-get($font-size, title-s);
    margin-bottom: 10px;
  }
}

.post-content {
  @include center-all-c;
  background-color: $main-lightblue-trans;
  width: 85%;
  border-radius: 50px;
}

.post-main {
  display: flex;
  flex-direction: column;

  img {
    width: 900px;
    height: 600px;
    margin: 40px;
    object-fit: cover;
  }

  div {
    margin: 20px auto;
    justify-content: center;
    display: flex;
  }

  p {
    margin: 0 80px 80px 80px;
    width: 80%;
  }
}
