/* product */
.filter ul {
  display: flex;
}

.top-class {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px  130px;


  @media($breakpoint-md) {
    padding: 5px  50px;
  }

  @media($breakpoint-sm) {
    padding: 5px  20px;
  }

}

.all-product-main {
  display: flex;
  width: 100%;
  padding: 0 25px;
  justify-content: center;

  @media($breakpoint-md) {
    flex-direction: column;
    align-items: center;
  }

  .subMenu {
    width: 15%;

    @media($breakpoint-md) {
      width: 100%;
    }
  }

  .all-product {
    display: flex;
    flex-wrap: wrap;
    // justify-content: start;
    // padding-left: 50px;
    width: 75%;
    justify-content: start;
    min-width: 555px;
    // padding: 0 15px;

    @media($breakpoint-md) {
      width: 100%;
      min-width: 100%;
      justify-content: center;
    }
  }
}

.first-header {
  margin-top: 100px;
}

.product-s {
  // padding: 15px;
  margin: 20px;
  background-color: white;
  box-shadow: 4px 4px 0px 0px #405983;
  border: #405983 .3px solid;
  border-radius: 0 0 50px 50px;
  @include center-c-aic;
  overflow: hidden;
  width: 220px;

  @media($breakpoint-md) {
    width: fit-content;
    border-radius: 0 0 20px 20px;

    h3 {
      font-size: map-get($font-size, m);
      @include line-save(1);
    }
  }

  &:hover {
    @include box-shadow(5px, $main-yellow);
    transform: scale(1.05);
    cursor: pointer;
  }

  .change-img {
    position: relative;
    height: 180px;
    width: 220px;

    @media($breakpoint-md) {
      height: 120px;
      width: 160px;
      object-fit: cover;
    }

    .add-list {
      position: absolute;
      right: 5%;
      top: 5%;
      display: flex;
      width: 30px;
      padding: 8px;
      justify-content: center;
      align-items: center;
      margin: 8px;
    }

    img {
      position: absolute;
      height: 180px;
      width: 220px;
      object-fit: cover;
      // border-radius: $radius-xs;
      /* 淡出淡入效果2秒 */
      -webkit-transition: opacity .5s ease-in-out;
      -moz-transition: opacity .5s ease-in-out;
      -o-transition: opacity .5s ease-in-out;
      transition: opacity .5s ease-in-out;

      @media($breakpoint-md) {
        height: 120px;
        width: 160px;
        object-fit: cover;
      }

      &:nth-child(2):hover {
        opacity: 0;
      }
    }
  }

  .add-cart {
    @include center-all-r;
    color: $main-white;
    background-color: $main-blue;
    width: 60%;
    border-radius: $radius-xs;
    box-shadow: 2px 2px 0px 0px #405983;

    @media($breakpoint-md) {
      width: 80%;
    }

    &:hover {
      transition: 1s linear;
    }

    margin: 10px auto;
    padding: 5px;
  }

  .name-tag {
    padding: 0 15px;

    @media($breakpoint-md) {
      padding: 0 5px;
      @include line-save(1);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // align-items: center;
    }
  }

  .product-middle {
    display: flex;
    justify-content: space-between;

    .product-price-show {
      color: #E39529;
      font-size: map-get($font-size, m);
      align-items: center;
      display: flex;
    }
  }
}

.label-group {
  min-width: 100px;
  display: flex;
  height: fit-content;
  overflow: hidden;
  margin-right: 5px;

  @media($breakpoint-md) {
    min-width: 50px;
    overflow: hidden;
    max-width: 85px;
  }

  .product-label {
    font-size: map-get($font-size, xs);
    border-radius: $radius-xs;
    padding: 5px;
    border: #405983 .8px solid;
    height: fit-content;
    margin: 3px;
    @include line-save(1);
    flex-shrink: 0;

    @media($breakpoint-md) {
      padding: 3px;
      margin: 2px;
      @include line-save(1);
      flex-shrink: 0;

    }
  }
}

.product-label {
  font-size: map-get($font-size, xs);
  border-radius: $radius-xs;
  padding: 5px;
  border: #405983 .8px solid;
  height: fit-content;
  margin: 3px;

  @media($breakpoint-md) {
    padding: 3px;
    margin: 2px;
  }
}

.product-images {
  border: #405983 .4px solid;
  display: flex;

  .img-main {
    width: 350px;
    height: 350px;
    margin: 10px;
    margin-right: 0;
  }

  .small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;

    .img-small {
      width: 105px;
      height: 105px;
    }
  }

}

.img-center {
  @include center-all-c;
  padding: 20px;
}


.main-product {
  display: flex;
  flex-direction: column;
  align-items: center;

  .product-top {
    display: flex;
    justify-content: space-evenly;

    @media($breakpoint-md) {
      flex-direction: column;
      align-items: center;
    }

    >* {
      margin: 20px;
    }

    .product-infomation {
      text-align: left;

      >* {
        text-align: left;
        width: 85%;
        padding: 0 20px 10px 0;
      }

      h1,
      .info-line,
      .price-line {
        padding-left: 3px;
      }

      .tag-line,
      .price-line {
        display: flex;
      }
    }
  }
}

.product-description {
  margin-top: 50px;
  width: 85%;

  ul {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
  }

  .text {
    padding: 50px;
    background-color: $main-blue-trans;

    p {
      margin: 10px;
    }

    img {
      width: 100%;
      height: 450px;
      object-fit: cover;
      padding: 20px;

    }
  }
}

// .nav-pills-su.active {
//   border-bottom: $main-yellow 3px solid;
// }

.priceregular {
  text-decoration: line-through;
  color: $main-blue;
  padding-right: 10px;
}

.priceshow {
  color: #E39529;
  padding-right: 10px;
}

.cart-buy {
  display: flex;
  flex-direction: row;
}

.product-detail-rule {
  width: 100%;
}

.product-recommand {
  @include center-all-c;

  .recommand-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#cart-main {
  width: 70%;
  padding: 0 50px;

  .cart-box {
    margin: 20px 0;
    box-shadow: 3px 3px 5px rgba(84, 84, 84, 0.746);
    border-radius: $radius-xs;

    h2 {
      background-color: $main-yellow;
      color: $main-blue;
      font-size: 20px;
      padding: 10px 50px;
      border-radius: 10px 10px 0 0;
    }

    .cart-order {
      background-color: $main-yellow-trans;
      color: $main-blue;
      padding: 30px 50px;
      border-radius: 0 0 10px 10px;

      .count {
        display: flex;
        justify-content: start;

        >* {
          margin-right: 10%;
          padding: 0 8px;
        }
      }
    }
  }
}

.cart-member {
  display: flex;
  // flex-direction: column;
  padding: 30px 50px;
  background-color: $main-yellow-trans;
  justify-content: space-between;

  .member-contact,
  .delievry-contact {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
  }

  .delievry-selsct {
    width: fit-content;
    margin: 0;
  }
}

#cart-list {
  width: 25%;
  position: fixed;
  top: 12%;
  right: 5%;


  .cart-list-box {
    width: 100%;
    padding: 10px 35px;
    background-color: $main-blue;
    border-radius: $radius-xs;
    height: fit-content;
    box-shadow: 3px 3px 5px rgba(84, 84, 84, 0.746);
    margin: 10px 0;

    table {
      color: $main-white;
    }
  }
}

.cart-page {
  display: flex;
  position: relative;
}
