@import "varible";

/* 頁首區 */
.topbar {
  position: fixed;
  height: 90px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 120px;
  background-color: $main-white;
  color: $main-blue;
  z-index: 999;
  /* 確保他在最上面*/

  .topbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}

/* Banner區 */

#banner {
  position: relative;
  height: 100vh;


  .bn-cta {
    position: absolute;
    top: 75%;
    left: 12%;
    transform: translate(-50%, -50%);
    color: $main-blue;
    z-index: 1;
    /* 确保 .cta-box 在 img 上面 */
    height: 300px;
    background-color: $main-yellow;
    border-radius: 60% 90% 70% 80% / 80% 90% 60% 80%;
    width: 22%;
    height: 28%;
    text-align: center;
    align-content: center;
    animation: fadeInFromButtom 2s ease forwards;

    h2 {
      margin: 5px;
      line-height: 1.5;
    }

  }

  img {
    width: 90vw;
    height: 80vh;
    object-fit: cover;
    border-radius: 30px;
    margin-top: 90px;
    animation: fadeIn 2s ease forwards;
  }
}

#category {

  .textMenu {
    padding: 20px 180px;
    text-align: center;
    display: flex;
    width: 100%;
    // height: 20vh;
    justify-content: center;

    .texture {
      display: flex;
      flex-direction: column;
      padding: 15px;
      margin: 0 10px;
      height: 100%;
      justify-content: space-between;
      /* 元素均匀分布 */
      align-items: center;
      flex: 1.5;

      &:hover {
        background-color: rgb(34, 102, 141, .2);
        border-radius: $radius-s;

        .hover img {
          visibility: visible;
        }
      }

      .show {
        margin-bottom: 15px;

        img {
          width: 18vw;
          height: 18vh;
          border-radius: $radius-s;
          object-fit: cover;
          margin-bottom: 15px;
        }
      }

      .hover img {
        height: 20px;
        width: 20px;
        object-fit: cover;
        visibility: hidden;
      }
    }

    .logo {
      align-items: center;
      display: flex;
      justify-content: center;
      height: fit-content;
      height: 100%;
      flex: 1;

      img {
        width: 80%;
        min-width: 80px;
        object-fit: cover;
      }
    }
  }
}

.textureList {
  width: 100%;
  height: 40vw;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-image: url(/images/bg2.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  // background-size: 100% 100%;
  // background-color: rgb(34, 102, 141,.2);
  // border-radius: 30px;


  .texture-info {
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    border-left: 5px $main-blue solid;
    border-right: 5px $main-blue solid;
    // border-radius: 10px / 5px;
    flex: 3;

    a {
      background-color: $main-blue;
      border-radius: 99px;
      display: block;
      margin: 5px;
      color: $main-white;
      width: 6rem;
      height: 1.5rem;
      line-height: 1.5rem;
    }
  }

  .productList {
    flex: 7;
    width: 80vw;
    margin-bottom: 50px;


    .texture {
      display: flex;
      justify-content: space-evenly;

      .product1 {
        .productImg {
          height: 200px;
          width: 200px;
        }

        .productInfo {
          width: 200px;
          text-align: justify;


          p {
            margin-top: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
        }
      }

    }

  }
}

.mask {
  position: relative;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.mask-1{
  mask-image: url(/images/mask.svg);
}

.decorate {
  width: 100%;
}

.list-box {
  width: 80%;
  max-width: 1200px;
  display: flex;
}

.item {
  margin: 15px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 1px 1px 5px rgb(111, 17, 17, .8);
  display: flex;

  h1 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

}

.content {
  padding: 15px 20px 20px;
}



/* 資訊區 */




/* 最新消息區 */
.service {
  height: 65vh;
}

.news {
  height: 35vh;
}
